<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    <display-name>Giup Viec 24h Application</display-name>
    
    <!-- Character Encoding Filter - Phải đặt trước servlet -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- DispatchServlet for handling /home requests -->
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>controller.web.DispatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <!-- HireServlet for handling /hire requests - FIXED PACKAGE NAME -->
    <servlet>
        <servlet-name>HireServlet</servlet-name>
        <servlet-class>controller.web.hire.HireServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HireServlet</servlet-name>
        <url-pattern>/hire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HireServlet</servlet-name>
        <url-pattern>/hire/*</url-pattern>
    </servlet-mapping>
    
    <!-- Welcome Files -->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    
    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/view/error/404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/view/error/500.jsp</location>
    </error-page>
    
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
    </session-config>
    
</web-app>